@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-status-green: #dcfce7;
    --color-status-red: #fee2e2;
    --color-status-yellow: #fef9c3;
    --bg-primary: #0f172a;
    /* Slate 900 - Navy Blue */
    --card-bg: #ffffff;
  }

  body {
    @apply bg-slate-900 text-gray-900;
  }
}